ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  list-style: none;
  font-size: 13px;
}

.top {
  position: fixed;
  right: 0px;
  margin: 20x;
  text-decoration: none;
  color: grey;
}

.bottomleft {
  position:fixed;
  bottom: 0;
  left: 0px;
  margin: 0px;
   background-color: #d9d9d9;
  padding: 8px;
  border: 1px solid black;
  width: 100%
   
}

.bottomright {
  position: fixed;
  bottom:0;
  right: 0px;
  margin: 10px;
  background-color: #d9d9d9;
}

.image {
  position: absolute;
  left: 40%;
  top: 30%;
  text-align: center;
}

input {
  position: fixed;
  top: 43%;
  width: 400px;
   border-radius: 25px;
  border: 1px solid #bbc0c9;
  padding: 20px; 
  width: 400px;
  height: 1px;
  text-align: center;
   left: 36%;
    
}

.zoekknoppen {
  position: absolute;
  top:47%;
  left: 42%;
   background-color: #bbc0c9;
  border: 0px;
  border-radius: 15px;
}

.country {
position:fixed;
  bottom: 30px;
  left: 0px;
  margin: 0px;
   background-color: #d9d9d9;
  padding: 8px;
  border: 1px solid black;
  width: 100%;
  color: grey;
  font-size: 14px;
}

.languages {
  position: absolute;
  top: 55%;
  left: 41%;
  font-size: 13px;
  
}


a {
  text-decoration: none;
  color: grey;
}

.languages a {
  color: blue;
}


li .inloggen {
  background-color: #3473d8;
    padding: 6px;
  border: none;
  color: white;
  margin: 6px;
}

.button1 {
  position: absolute;
  left: 41%;
    top: 50%;
      border: 0px;
        padding: 5px;
  width: 120px;
  background-color: #edeff2;
    border-radius: 3px;
  height: 40px
}

.button2 {
  position: absolute;
  left: 48%;
    top: 50%;
      border: 0px;
        padding: 5px;
  width: 120px;
  background-color: #edeff2;
  border-radius: 3px;
  height: 40px
}